
@model bgrimmett_portfolio2.Models.Email

<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(/template/images/oliver-pecker-364272.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <a href="@Url.Action("Index", "Home")"><div class="profile-thumb" style="background: url(/template/images/BKG7.jpg);"></div></a>
                        <h1><span>Brandon Grimmett</span></h1>
                        <h3><span>Web Developer / Designer</span></h3>
                        <p>
                            <ul class="fh5co-social-icons">
                                <!--<li><a href="#"><i class="icon-twitter2"></i></a></li>-->
                                <li><a href="https://www.facebook.com/mistergrimmett" target="_blank"><i class="icon-facebook2"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/brandon-grimmett/" target="_blank"><i class="icon-linkedin2"></i></a></li>
                                <li><a href="https://www.instagram.com/mistergrimmett/" target="_blank"><i class="icon-instagram2"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>





<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div> <img class="img-circle img-responsive center-block" style="max-height:400px; max-width:400px;" src="~/template/images/BKG-1.jpg" /></div>
                @*<ul class="info">
                                    <li><span class="first-block">Full Name:</span><span class="second-block">Brandon Grimmett</span></li>
                                    <li><span class="first-block">Phone:</span><span class="second-block">(704)314-6774</span></li>
                                    <li><span class="first-block">Email:</span><span class="second-block"></span></li>
                                        <li><span class="first-block">Website:</span><span class="second-block">www.yoursite.com</span></li>
                    <li><span class="first-block">Address:</span><span class="second-block">198 West 21th Street, Suite 721 New York NY 10016</span></li>
                                </ul>*@
            </div>
            <br />
            <div class="col-md-8">
                <p>I am a Full Stack Web Developer/Designer and Social Media Marketing guru, with ample ability and knowledge in many areas.</p>
                <p>I am fluent in 5 coding languages (HTML & CSS, Javascript, MVC, C# and SQL) with a yearning to master those, as well as many others. I tackle projects of many types and difficulties, and enjoy challenges! I have a keen eye for molding my skill set to fit the needs and wants of any and all clients.</p>
                <p>As a professional, I've had my feet across the threshold of many different doorways. Web Design, Development and Branding/Marketing are the areas that snatched my attention and never gave it back! The concoction of knowledge and creativity that come together while developing and designing a website are unrivaled.</p>
                <p>
                    @*<ul >
                        @*<li><a href="#"><i class="icon-twitter2"></i></a></li>*@
                    @*<li><a href="https://www.facebook.com/mistergrimmett" target="_blank"><i class="icon-facebook3"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/brandon-grimmett/" target="_blank"><i class="icon-linkedin2"></i></a></li>
                        <li><a href="https://www.instagram.com/mistergrimmett/" target="_blank"><i class="icon-instagram2"></i></a></li>*@
                    @*</ul>*@
                </p>
            </div>
        </div>
    </div>
</div>



<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
                <br />
                <ul class="fh5co-social-icons bounce">
                    <li><a href="https://www.linkedin.com/in/brandon-grimmett/" target="_blank"><i class="icon-linkedin-with-circle"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Work Experience</h3></div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Web Developer</h3>
                                <span class="company">Coder Foundry - July 2017 - Current</span>
                            </div>
                            <div class="timeline-body">
                                <p>Worked with many coding languages, including HTML & CSS, JavaScript, C#, MVC and SQL</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                            <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Junior Developer</h3>
                                    <span class="company">Alignment Associates - January 2017 - Current</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Balanced solo projects with team-oriented projects. Worked closely with clients as a project manager on many accounts. <br />Helped develop and execute creative marketing strategies, including social media platform management and SEO.</p>
                                </div>
                            </div>
                        </li>
                        @*<li class="animate-box timeline-unverted">
        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h3 class="timeline-title">UI/UX Designer</h3>
                <span class="company">Company Name - 2010 - 2012</span>
            </div>
            <div class="timeline-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
    </li>
    <br>*@
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Education</h3></div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Certification</h3>
                                <span class="company">Rowan-Cabarrus Community College - 2012 - 2013</span>
                            </div>
                            <div class="timeline-body">
                                <p>NA 1 certification</p>
                            </div>
                        </div>
                    </li>
                    @*<li class="animate-box timeline-unverted">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Bachelors Degree</h3>
                                    <span class="company">University Name - 2002 - 2006</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Diploma Course</h3>
                                    <span class="company">College Name - 1999 - 2001</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box timeline-unverted">
                            <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Graduation</h3>
                                    <span class="company">College Name - 1994 - 1998</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center col-padding animate-box">
                <a href="#workModal" class="work" data-toggle="modal" style="background-image: url('/template/images/luca-bravo-217276 Revise.jpg');">
                    <div class="desc">
                        <h3>JavaScript</h3>
                        <span>Exercises</span>
                    </div>
                </a>
            </div>
            @*<div class="col-md-3 text-center col-padding animate-box">
                    <a href="#workModal2" class="work" data-toggle="modal" style="background-image: url('/template/images/michail-sapiton-234263 Revise.jpg');">
                        <div class="desc">
                            <h3>Blog</h3>
                            <span>Project</span>
                        </div>
                    </a>
                </div>*@
            <div class="col-md-4 text-center col-padding animate-box">
                <a href="http://bgrimmett-bugtracker.azurewebsites.net/" class="work" style="background-image: url('/template/images/rami-al-zayat-170349 Revise.jpg');">
                    <div class="desc">
                        <h3>Bug Tacker</h3>
                        <span>This project was completed over a span of four weeks. Please feel free to become acquainted with the Bug Assassin.</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center col-padding animate-box">
                <a href="#workModal4" class="work" data-toggle="modal" style="background-image: url('/template/images/aidan-bartos-313782 REvised.jpg')">
                    <div class="desc">
                        <h3>Budgeting System</h3>
                        <span>Project</span>
                    </div>
                </a>
            </div>
            @*<div class="col-md-3 text-center col-padding animate-box">
                    <a href="#workModal5" class="work" data-toggle="modal" style="background-image: url('/template/images/sean-dubois-5757 Revised.jpg');">
                        <div class="desc">
                            <h3>Car Finder</h3>
                            <span>Project</span>
                        </div>
                    </a>
                </div>*@
            @*<div class="col-md-3 text-center col-padding animate-box">
                <a href="#workModal6" class="work" data-toggle="modal" style="background-image: url('/template/images/garrhet-sampson Revised.jpg');">
                    <div class="desc">
                        <h3>Ecommerce Site</h3>
                        <span>Project</span>
                    </div>
                </a>
            </div>*@
            @*<div class="col-md-3 text-center col-padding animate-box">
                    <a href="#" class="work" style="background-image: url(/template/images/portfolio-7.jpg);">
                        <div class="desc">
                            <h3>Project Name</h3>
                            <span>Brading</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 text-center col-padding animate-box">
                    <a href="#" class="work" style="background-image: url(/template/images/portfolio-8.jpg);">
                        <div class="desc">
                            <h3>Project Name</h3>
                            <span>Illustration</span>
                        </div>
                    </a>
                </div>*@
        </div>
    </div>
</div>
<div id="fh5co-blog">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 style="font-size:22px;">Strong views, loosely held.</h2>
                @*<p>Blog</p>
                    <p><a href="@Url.Action("Index", "Posts")" class="btn btn-primary">Read More</a></p>*@
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-bg" style="background-image: url(/template/images/portfolio-1.jpg);"></a>
                        <div class="blog-text">
                            <span class="posted_on">Mar. 15th 2016</span>
                            <h3><a href="#">Photoshoot On The Street</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <ul class="stuff">
                                <li><i class="icon-heart2"></i>249</li>
                                <li><i class="icon-eye2"></i>308</li>
                                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-bg" style="background-image: url(/template/images/portfolio-2.jpg);"></a>
                        <div class="blog-text">
                            <span class="posted_on">Mar. 15th 2016</span>
                            <h3><a href="#">Surfing at Philippines</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <ul class="stuff">
                                <li><i class="icon-heart2"></i>249</li>
                                <li><i class="icon-eye2"></i>308</li>
                                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#" class="blog-bg" style="background-image: url(/template/images/portfolio-3.jpg);"></a>
                        <div class="blog-text">
                            <span class="posted_on">Mar. 15th 2016</span>
                            <h3><a href="#">Capture Living On Uderwater</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <ul class="stuff">
                                <li><i class="icon-heart2"></i>249</li>
                                <li><i class="icon-eye2"></i>308</li>
                                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>

@*<div id="fh5co-started" class="fh5co-bg-dark">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Hire Me!</h2>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                        <p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
    <div id="fh5co-consult" class="col-md-6">
        <div class="video fh5co-video" style="background-image: url(/template/images/daniel-mccullough-146145.jpg);">
            @*<video style="width: 600px; height:900px;" autoplay loop>
                    <source src="~/template/Videos/627965480.mp4" type="video/mp4" />
                </video>
            <div class="overlay"></div>
        </div>*@

@*<div class="text-center">
        @Html.ActionLink(linkText: "Contact Me", actionName: "Contact", controllerName: "Home", routeValues: null, htmlAttributes: null)
    </div>*@


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Body, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <textarea class="form-control" name="body" rows="5"></textarea>
                                @*Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "example@email.com" })
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-primary" value="Send" />
                            </div>
                        </div>

    }*@



@*<div class="choose animate-box">
        <h2>Contact</h2>
        <p>Questions? Comments? Hiring inquiries? Complete the fields below to get in touch with me!</p>
        <form action="#">
            <div class="row form-group">
                <div class="col-md-6">
                    <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" id="email" class="form-control" placeholder="Your email address">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary">
            </div>
        </form>
    </div>
    </div>*@
@*<div id="map" class="fh5co-map"></div>*@


<!--MODALS-->

<div id="workModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left:auto;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    <h3 class="text-primary">JavaScript Number Operations</h3>
                </div>
                <div class="modal-body bg-dark">
                    <ul class="nav nav-tabs" id="tabContent">
                        <li class="active"><a href="#palindrome" data-toggle="tab">Palindrome</a></li>
                        <li><a href="#5number" data-toggle="tab">5 Number Function</a></li>
                        <li><a href="#factorial" data-toggle="tab">Factorial</a></li>
                        <li><a href="#fizzbuzz" data-toggle="tab">FizzBuzz</a></li>
                        <li><a href="#reverseString" data-toggle="tab">Reverse String</a></li>
                    </ul>
                    <!--------PALINDROME MODAL--------->
                    <div class="tab-content">
                        <div class="tab-pane active" id="palindrome">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel bg-dark">
                                        <div>
                                            <h2>Palindrome</h2>
                                            <p><input id="testWord" type="text" placeholder="Enter Word" /></p>
                                            <p><button class="btn btn-danger" onclick="palindrome(testWord.value)">Execute</button></p>
                                            <div id="PalindromeResult"></div>

                                            <script>
                                                function palindrome(myString) {

                                                    /* remove special characters, spaces and make lowercase*/
                                                    var ChangeChar = myString.replace(/[^A-Z0-9]/ig, "").toLowerCase();

                                                    /* reverse ChangeChar for comparison*/
                                                    var checkPalindrome = ChangeChar.split('').reverse().join('');

                                                    /* Check to see if myString is a Palindrome*/
                                                    if (ChangeChar === checkPalindrome) {

                                                        document.getElementById("PalindromeResult").innerHTML = myString + " is a Palindrome.";
                                                    } else {

                                                        document.getElementById("PalindromeResult").innerHTML = myString + " is NOT a Palindrome.";
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <pre class="brush: js">

function palindrome(myString) {
/* remove special characters, spaces and make lowercase*/
var ChangeChar = myString.replace(/[^A-Z0-9]/ig, "").toLowerCase();

/* reverse ChangeChar for comparison*/
var checkPalindrome = ChangeChar.split('').reverse().join('');

/* Check to see if myString is a Palindrome*/
if (ChangeChar === checkPalindrome) {

document.getElementById("PalindromeResult").innerHTML = myString + " is a 
Palindrome.";
}
else {

document.getElementById("PalindromeResult").innerHTML = myString + " is 
NOT a Palindrome.";
      }
      }


//the algorithim ^A-Z0-9]/ig is used to siphon through the input word and 
kick out any character that isn't alpha numerical.  

//the variable checkPalindrome is compared to our variable ChangeChar, 
which is our input, after being reversed by the 
.split('').reverse('').join('') command.

//if ChangeChar (our input) is equal to checkPalindrome 
(the input reversed), then it is deemed a Palindrome.

//if they are NOT equal, it is deemed NOT a Palindrome.





                                        </pre>
                                </div>
                            </div>
                        </div>

                        <!--5 NUMBER FUNCTION MODAL-->

                        <div class="tab-pane" id="5number">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel bg-dark">
                                        <div>
                                            <h2>5 Number Function</h2>
                                            <p><input id="numero uno" type="number" placeholder="Enter first number" /></p>
                                            <p><input id="numero dos" type="number" placeholder="Enter second number" /></p>
                                            <p><input id="numero tres" type="number" placeholder="Enter third number" /></p>
                                            <p><input id="numero quatro" type="number" placeholder="Enter fourth number" /></p>
                                            <p><input id="numero cinco" type="number" placeholder="Enter fifth number" /></p>
                                            <button class="btn-danger" onclick="numCalc()">Execute</button>


                                            <div id="Result1">Sum</div>
                                            <div id="Result2">Mean</div>
                                            <div id="Result3">Product</div>
                                            <div id="Result4">Least</div>
                                            <div id="Result5">Most</div>

                                            <script>

                                                function numCalc() {
                                                    var firstNum = Number(document.getElementById("numero uno").value);
                                                    var secondNum = Number(document.getElementById("numero dos").value);
                                                    var thirdNum = Number(document.getElementById("numero tres").value);
                                                    var fourthNum = Number(document.getElementById("numero quatro").value);
                                                    var fifthNum = Number(document.getElementById("numero cinco").value);
                                                    var resultOne = firstNum + secondNum + thirdNum + fourthNum + fifthNum;
                                                    document.getElementById("Result1").innerHTML = resultOne;
                                                    var resultTwo = firstNum + secondNum + thirdNum + fourthNum + fifthNum / 5;
                                                    document.getElementById("Result2").innerHTML = resultTwo;
                                                    var resultThree = firstNum * secondNum * thirdNum * fourthNum * fifthNum;
                                                    document.getElementById("Result3").innerHTML = resultThree;
                                                    document.getElementById("Result4").innerHTML = Math.min(firstNum, secondNum, thirdNum, fourthNum, fifthNum);
                                                    document.getElementById("Result5").innerHTML = Math.max(firstNum, secondNum, thirdNum, fourthNum, fifthNum);
                                                }

                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <pre class="brush: js">
                              
function numCalc() {
var firstNum = Number(document.getElementById("numero uno").value);
var secondNum = Number(document.getElementById("numero dos").value);
var thirdNum = Number(document.getElementById("numero tres").value);
var fourthNum = Number(document.getElementById("numero quatro").value);
var fifthNum = Number(document.getElementById("numero cinco").value);
var resultOne = firstNum + secondNum + thirdNum + fourthNum + fifthNum;
document.getElementById("Result1").innerHTML = resultOne;
var resultTwo = firstNum + secondNum + thirdNum + fourthNum + fifthNum / 5;
document.getElementById("Result2").innerHTML = resultTwo;
var resultThree = firstNum * secondNum * thirdNum * fourthNum * fifthNum;
document.getElementById("Result3").innerHTML = resultThree;
document.getElementById("Result4").innerHTML = Math.min(firstNum, secondNum, thirdNum, fourthNum, fifthNum);
document.getElementById("Result5").innerHTML = Math.max(firstNum, secondNum, thirdNum, fourthNum, fifthNum);
    }
    




                                        </pre>
                                </div>
                            </div>
                        </div>


                        <!--FACTORIAL MODAL-->
                        <div class="tab-pane" id="factorial">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel bg-dark">
                                        <div>
                                            <h2>Factorial</h2>
                                            <p><input id="intNum" type="number" placeholder="Enter Number" /></p>
                                            <p><button class="btn btn-danger" onclick="numCal()">Execute</button></p>

                                            <div id="resultFAC">Result</div>

                                            <script>


                                                function numCal() {
                                                    var x = Number(document.getElementById("intNum").value);
                                                    var y = 1;
                                                    for (i = x; i >= 1; i--)
                                                        y = y * i;
                                                    if (x === 0) {
                                                        y = 1;
                                                    }

                                                    document.getElementById("resultFAC").innerHTML = y;
                                                }
                                            </script>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <pre class="brush: js">
function numCal() {
var x = Number(document.getElementById("intNum").value);
var y = 1;
for (i = x; i >= 1; i--)
       y = y * i;
    if (x === 0) {
         y = 1;
             }

document.getElementById("resultFAC").innerHTML = y;
         }
                                            
//If our input number is greater than or equal to 1,
the number decrements by a value of one each time until it reaches 1.

//if our input number is less than or equal to 1,
the program spits out 1 automatically.-->




                                        </pre>
                                </div>
                            </div>
                        </div>


                        <!--FIZZBUZZ MODAL-->
                        <div class="tab-pane" id="fizzbuzz">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel bg-dark">
                                        <div>
                                            <h2>FizzBuzz</h2>
                                            <p><input id="firNum" type="number" placeholder="Enter Number" /></p>
                                            <p><input id="secNum" type="number" placeholder="Enter Number" /></p>
                                            <p><button class="btn btn-danger" onclick="Calc()">Execute</button></p>

                                            <div id="result">Result</div>

                                            <script>
                                                function Calc() {
                                                    var firstNumber = Number(document.getElementById("firNum").value);
                                                    var secondNumber = Number(document.getElementById("secNum").value);
                                                    var result = " ";
                                                    for (var i = 1; i <= 100; i++) {
                                                        if ((i % firstNumber) == 0 && (i % secondNumber) == 0) {
                                                            result += (" FizzBuzz ");
                                                        } else if ((i % firstNumber) == 0) {
                                                            result += (" Fizz ");
                                                        } else if ((i % secondNumber) == 0) {
                                                            result += (" Buzz ");
                                                        } else {
                                                            result += i + " ";
                                                        }
                                                    }
                                                    document.getElementById("result").innerHTML = result;
                                                }

                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <pre class="brush: js">

function Calc() {
var firstNumber = Number(document.getElementById("firNum").value);
var secondNumber = Number(document.getElementById("secNum").value);
var result = " ";
for (var i = 1; i <= 100; i++) {
if ((i % firstNumber) == 0 && (i % secondNumber) == 0) {
   result += (" FizzBuzz ");
    } else if ((i % firstNumber) == 0) {
         result += (" Fizz ");
     } else if ((i % secondNumber) == 0) {
         result += (" Buzz ");
     } else {
         result += i + " ";
            }
      }
document.getElementById("result").innerHTML = result;
     }




                                        </pre>
                                </div>
                            </div>
                        </div>


                        <!--STRING REVERSE MODAL-->
                        <div class="tab-pane" id="reverseString">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel bg-dark">
                                        <div>
                                            <h2>String Reversal</h2>
                                            <p>In-built functions implementation</p>
                                            <input id="reversal" type="text" placeholder="Enter Word" />
                                            <button class="btn btn-danger" onclick="wordREV()">Execute</button>

                                            <div id="reverseWord">Result</div>

                                            <script>
                                                function wordREV() {
                                                    var s = document.getElementById("reversal").value;
                                                    var result = s.split('').reverse().join('');
                                                    document.getElementById("reverseWord").innerHTML = result;
                                                }

                                            </script>

                                            <p>Decrementing For Loop implementation</p>
                                            <input id="testStr" type="text" placeholder="Enter Word" />
                                            <button class="btn btn-danger" onclick="reverse()">Execute</button>

                                            <div id="newResult">Result</div>

                                            <script>
                                                function reverse() {
                                                    var testWord = document.getElementById("testStr").value;
                                                    var resultOne = "";
                                                    for (i = (testWord.length) - 1; i >= 0; i--) {
                                                        resultOne += testWord[i];
                                                    }

                                                    document.getElementById("newResult").innerHTML = resultOne;




                                                }


                                            </script>



                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <pre class="brush: js">

var s = document.getElementById("reversal").value;
var result = s.split('').reverse().join('');
document.getElementById("reverseWord").innerHTML = result;



                                        </pre>
                                </div>
                            </div>
                        </div>
                        @*<img src="/template/images/luca-bravo-217276 Revise.jpg" id="workImage" class="img-responsive" />
                            <p>
                                <br />
                                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                            </p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="workModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="left:auto;">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/template/images/michail-sapiton-234263 Revise.jpg" id="workImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>*@


@*<div id="workModal3" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left:auto;">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
                <a href="http://bgrimmett-bugtracker.azurewebsites.net/"><img src="~/template/images/rami-al-zayat-170349 Revise.jpg" id="workImage" class="img-responsive" /></a>

            </div>
        </div>
    </div>
</div>*@


<div id="workModal4" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left:auto;">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
                <h2 class="text-center">COMING SOON!</h2>
                <img src="~/template/images/aidan-bartos-313782 REvised.jpg" id="workImage" class="img-responsive" />

            </div>
        </div>
    </div>
</div>


@*<div id="workModal5" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="left:auto;">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="~/template/images/sean-dubois-5757 Revised.jpg" id="workImage" class="img-responsive" />
                    <p>
                        <br />
                        <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                    </p>
                </div>
            </div>
        </div>
    </div>*@


@*<div id="workModal6" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left:auto;">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
                <p>This ecommerce site was built from the ground up within my first 6 weeks of learning to code. I like to keep it displayed in order to remind myself how far I've come.</p>
                <img src="~/template/images/garrhet-sampson Revised.jpg" id="workImage" class="img-responsive" />

            </div>
        </div>
    </div>
</div>*@